.calc_simples{
    background-color: blueviolet;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
.visor{
    text-align: center;
    background-color: chartreuse;
}
#resultado {
    background-color: black;
    color: yellow;
}
.teclas {
    padding: 5px;
    text-align: center;
}
button {
    width: 40px;
    height: 20px;
    margin: 2px

}
#igual {
    background-color: brown;
}
